/* General Styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1rem;
  margin-right: 15px;
}

.hero-section {
  background: url('IMG_1420.jpeg') no-repeat center center/cover;
  height: 100vh;
  color: white;
}

.hero-section h1 {
  font-weight: bold;
  font-size: 3.5rem;
}

.hero-section p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 25px;
}

.container {
  display: none; /* Initially hidden; shown dynamically via JavaScript */
}

.container .section-content {
  margin-top: 30px;
}
